@page "/ProfessorsFromGrpc"

@if (!Professors.Any())
{
    <p style="text-align:center">
        <img src="../images/loader.gif" />
    </p>
}
else
{
    <div class="card shadow mt-2 mb-2">
        <div class="card-header">
            <h1 class="PageTitle">Professors - (Grpc)</h1>
        </div>
        <div class="card-body">
            <div>
                <a href="/addbook" class="float">
                    <span class="oi oi-plus float-margintop" aria-hidden="true"></span>
                </a>
            </div>
            <div>
                <table class='table table-striped table-bordered table-hover shadow' aria-labelledby="tableLabel">
                    <thead class="table-header-dark">
                        <tr>
                            <th>Professor Id</th>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>Phd</th>
                            <th>DOJ</th>
                            <th>Teaches</th>
                            <th>Salary</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var _professor in Professors)
                        {
                            <tr>
                                <td>@_professor.ProfessorId</td>
                                <td>
                                    <img class="rounded-circle image-styles" src="@_professor.PictureUrl" title="@_professor.Name" width="50px" height="50px" />
                                </td>
                                <td>@_professor.Name</td>
                                <td>
                                    @if (@_professor.IsPhd)
                                    {
                                        <span class="oi oi-thumb-up span-styles-green"></span>
                                    }
                                    else
                                    {
                                        <span class="oi oi-thumb-down span-styles"></span>
                                    }
                                </td>
                                <td>@_professor.Doj.ToShortDateString()</td>
                                <td>@_professor.Teaches</td>
                                <td>@_professor.Salary</td>
                                <td>
                                    <a href="editbook/@_professor.ProfessorId" class="td-a-edit">
                                        <span class="oi oi-pencil icon span-styles" aria-hidden="true"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="deletebook/@_professor.ProfessorId" class="td-a-delete">
                                        <span class="oi oi-trash icon span-styles" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}