@page "/ProfessorsFromWebAPI"

<h2>Professors List - From Grpc Web</h2>

@if (Professors == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table table-striped bg-success' aria-labelledby="tableLabel">
        <thead>
            <tr>
                <th>Professor Id</th>
                <th>Name</th>
                <th>DOJ</th>
                <th>Salary</th>
                <th>Phd</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var _professor in Professors)
            {
                <tr>
                    <td>@_professor.ProfessorId</td>
                    <td>@_professor.Name</td>
                    <td>@_professor.Doj.ToShortDateString()</td>
                    <td>@_professor.Salary</td>
                    <td>@_professor.IsPhd</td>
                </tr>
            }
        </tbody>
    </table>
}

